/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;1,200;1,300;1,800&display=swap');

/* import css  */
@import url(./keyframes.css);
@import url(./normalize.css);
:root{
    --primary-color:hsl(214, 84%, 56%);
    --text-color: hsl(0,0%,31%);
    --bg-color:rgb(180, 180, 180);
    --bg-card-color:rgb(236, 236, 236);
    --transition: color 0.1s, background-color 0.2s ease-in;
    --border-radius:.4em;

    --skills-bar-length:0%;
}



*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}
img{
    max-width: 100%;
    display: block;
}
body{
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: 'Montserrat',
    sans-serif;

    /*  */

    
}




body.dark{
    --text-color:hsl(0,0%,83%);
    --bg-color:hsl(0,0%,15%);
    --bg-card-color:hsl(0, 0%, 20%);
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transition);
   

    position: fixed;
    box-shadow: .1px -20px 90px 10px #000;

    width: 100%;
    z-index: 100;


}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.toggle-theme__icon{
    margin-right: 0.5em;
    width: 30px;
}
.toggle-theme__text{
    font-size: .8rem;
    display: none;
}
/* para que en mobile solo aparezca el simbolo del dark/light mode   */

@media screen and (min-width:720px){
    .toggle-theme__text{
        display: block;
    }

    .toggle-theme__icon{
        width: 20px;
    }
    
    
}

.switches,
.mylogo,
.colors {
    width: 33%;
}
/* para en mobile cambiar el orden de los hijos del hader  */
/* @media screen and (max-width:720px) {
    .header{
        justify-content:flex-end;
    }
    .mylogo__text{
        display:none;
    }
} */


/* MY LOGO  */
.mylogo{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 33%;
}

 /*! SVG DE ELIF  */


.elif{
    height: 100px;
    opacity: .3;
}
.letter_svg {
    height: 90px;
    width: auto;
    fill: #fff;
}

#punto-elif{
    animation: punto-elif 8s infinite;
}

@keyframes punto-elif {
    0%{
        transform: translateX(0);
    }

    80%{
        transform:rotate(360deg);
    }
}








.mylogo__text{
    font-family: 'Audiowide', sans-serif;
    font-size: 2.2em;
    letter-spacing: 3px;
    opacity: .3;

}




/* COLORES */
.colors{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item{
    margin-right: .5em;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue{
    --primary-color:hsl(214, 84%, 56%);
}
.colors__item--green {
    --primary-color:hsl(150, 84%, 56%);
}
.colors__item--purple {
    --primary-color:hsl(276, 84%, 56%);
}
.colors__item--orange {
    --primary-color:hsl(40, 84%, 56%);
}


/* //////////////////////////////////////////   */
/* //////////////////////////////////////////// */
/*!     M A I N ___________________________________________________________________________-  */
.main{
    display: grid;
    padding: 7em 0em;
    gap: 1em;
}
@media screen and (min-width:720px){
    .main{
        padding:7em 1em 1em 1em;
        grid-template-columns: min-content 1fr;
    }
}


.column{
    display: grid;
    gap: 1em 1em;
}
@media screen and (min-width:720px) {
    .column--right {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        align-items: flex-start;
    }
    .column--left{
        align-items: flex-start;
        grid-template-rows: 3, min-content;
    }
    .column {
        display: grid;
        gap: 1em .6em;
    }
    
}



.card{
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);

    


}

.card--profile{
    overflow-y:visible;
}
/* .card--profile::-webkit-scrollbar {
    display: block;
} */
.card__image-container{

    min-width:300px;
    border-radius: var(--border-radius);
    filter:grayscale(.2);
    overflow: hidden;
}




.card__header{

    padding: 1em 0;
}
.card__title{
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.2rem;
}
.card__subtitle{
    font-size: .9rem;
    opacity: .8;
}
.card__link{
    margin-bottom: .5em;
}
.card__text{
    position: relative;
    font-size: .9rem;
    line-height: 1.5;
}





/* CONTACT REDES */

.contact-red--icon{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.red--icon{
    width: 25px;
    opacity: .5;
}

.red--icon:hover{
    opacity: .9;
    cursor: pointer;
    color: var(--primary-color);
}



/* .for-clip{
    height: 50px;
} */



/* modificador para card projet  */
@media screen and (min-width:720px){

    .card--project {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column: 1/-1;
    }
}


.icon{
    margin-right: 1em;
}

/* /////////////////////////////////////  */
/*  S K I L S  */

@media screen and (max-width:720px) {
    .skills__bar{
        width:70%;
    }
    .skills-tech{
        width: 30%;
    }
}
.skills{
    padding: 1em 0;
}
.skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}
.skills__tech{
    margin: 0;
    font-size: .75rem;
}
.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
}
.skills__bar,
.skills__bar::after{
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #000b;
    border-radius: var(--border-radius);
    animation: skills-bar-fill 3s ease-in-out forwards;
    animation-iteration-count: 1;
    overflow: hidden;
  
}
body.dark .skills__bar{
    background-color: #0003;
}

.skills__bar::after{
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    
}
/* Propiedades para los dieferentes porcetajes de los bar  */
.skills__bar--30::after {
    --skills-bar-length: 30%;
}
.skills__bar--40::after {
    --skills-bar-length: 45%;
}
.skills__bar--50::after {
    --skills-bar-length: 50%;
}
.skills__bar--65::after {
    --skills-bar-length: 65%;
}
.skills__bar--70::after {
    --skills-bar-length: 70%;
}
.skills__bar--75::after {
    --skills-bar-length: 75%;
}
.skills__bar--80::after {
    --skills-bar-length: 80%;
}

.skills__bar--85::after{
    --skills-bar-length:85%;
}
.skills__bar--90::after {
    --skills-bar-length: 90%;
}
.skills__bar--95::after {
    --skills-bar-length: 95%;
}
.skills__bar--100::after {
    --skills-bar-length: 100%;
}
@keyframes skills-bar-fill {
    
    100%{
        transform: translateX(var(--skills-bar-length));
    }
}




/* //    EXPERIENCIA  */
.experience{
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.experience__image{
    max-width: 15%;
    margin-right: 1em;
}
.experience__time{
    font-size: .8rem;
    margin-bottom: .5rem;
}
.experience__job{
    margin: 0;
    margin-bottom: .5em;
    color: var(--primary-color);
    transition: var(--transition);
}
.experience__description{
    font-size: .8rem;
    margin-bottom: 1.5rem;
}







/* .card--hobbies{
    display: none;
} */


/*! PROJECTS  _______________________________________________________________________  */

.project--title{
    background-color: transparent;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    
}

.project--title--{
    font-size: 1.1em;
    padding: 0 2em;
    letter-spacing: .2em;
    /* letter-spacing: .15em; */
    position: absolute;
    text-align: center;
    color: var(--primary-color);
    background: var(--bg-color);

}

.project--title hr{
    height: .12em;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    border:none;
    width:100%;


}

.image--project{
    width: 100%;
}
@media screen and (min-width:720px) {
    .project {
        margin-left: 2em;

    }
    .project--title{
        justify-content: flex-start;
    }
    .project--title--{
        padding: 0 2em 0 0;
    }

    .card--hobbies{
        display: block;      
    }
}
.project__tags{
    /* display:none; */
    justify-content: flex-start;
    display: flex;
    margin: .5em 0;

    
    font-size: .7rem;
    font-weight: 600;
    opacity: .3;
  
}
@media screen and (min-width:720px) {
    .project__tag{
        align-items: center;
        justify-content: center;
    }
    .project__tag{
        width: 100%;
        font-size: .8rem;
        
    }
}
.project__tag{
    margin-right: .5em;
    width: min-content;
    padding: .4em .8em;
    border-radius: .2em;
    background-color: var(--primary-color);
    color:var(--bg-card-color);


}
/* .project__tag::before{
    content: "#";
    font-size: .9rem;
    opacity: 100%;
    color: var(--primary-color);
} */

.project{
    position: relative;
    padding: .5em;
    position: relative;
}

@media screen and (min-width:720px) {
    .buttons{
        position:absolute;
        bottom: 1em;
        margin: 0;
        
        
    }
}



.buttons{

    margin:2.5em auto auto auto;
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.button{
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition)
}

.button--primary{
    background-color:var(--primary-color);
    color: var(--bg-card-color);
}
.button--ghost{
    background-color:transparent;
    border: 1px solid var(--primary-color);
}


























/* // RESET  */
.no-margin{
    margin: 0;
}
.spacing{
    margin: 1.5rem 0;
}


.no-select::selection{
    background: transparent;
}
img::selection{
    background: transparent;
}




.ilustration{
    display: block;
}





.social-media{
    position: relative;
}
 /* S KI C T Y  */


 @media screen and (min-width:720px){
    .social-media{
        position:relative;

    }
 }
 
  @media screen and (min-width:1520px) {
      .social-media {
        width:500px;
      }
  }